//------------------------------------
//  $VARIABLES
//------------------------------------

// Base colours
$color-white				 :#FFFFFF;
$color-black				 :#000000;

// Primary palette
$color-p-1					:#071e4a;
$color-p-2					:#25e0c3;
