<!--
div ng-controller="sinergyCtrl"
    <div>
    <div class="panel panel-default">
        <div class="panel-heading selector-heading">
            Risk
        </div>
        <div class="panel-body">
            <div class="btn-group parameterSelector">
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.risk" btn-radio="1">1</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.risk" btn-radio="2">2</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.risk" btn-radio="3">3</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.risk" btn-radio="4">4</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.risk" btn-radio="5">5</label>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading selector-heading">
            Complexity
        </div>
        <div class="panel-body">
            <div class="btn-group parameterSelector">
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.complexity" btn-radio="1">1</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.complexity" btn-radio="2">2</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.complexity" btn-radio="3">3</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.complexity" btn-radio="4">4</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.complexity" btn-radio="5">5</label>
            </div>
        </div>
    </div>
    <div class="panel panel-default">  
        <div class="panel-heading selector-heading">
            Effort
        </div>
        <div class="panel-body">
            <div class="btn-group parameterSelector">
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.effort" btn-radio="1">1</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.effort" btn-radio="2">2</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.effort" btn-radio="3">3</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.effort" btn-radio="4">4</label>
                <label class="btn btn-primary parameterSelectorItem" ng-model="model.effort" btn-radio="5">5</label>
            </div>
        </div>
    </div>
    <div>
        <p class="size-result">{{model.size}}</p>    
    </div>
</div>-->
<h1>IF YOU SEE THIS UNCOMMENT SINERGY TEMPLATE</h1>
