<!--
<div ng-controller="traditionalCtrl">
    <div class="panel panel-default">
        <div class="panel-heading selector-heading">
            Size
        </div>
        <div class="panel-body">
            <div class="btn-group parameterSelector">
                <label class="btn btn-primary parameterSelectorItemTraditional" ng-model="size" btn-radio="1">1</label>
                <label class="btn btn-primary parameterSelectorItemTraditional" ng-model="size" btn-radio="2">2</label>
                <label class="btn btn-primary parameterSelectorItemTraditional" ng-model="size" btn-radio="3">3</label>
                <label class="btn btn-primary parameterSelectorItemTraditional" ng-model="size" btn-radio="5">5</label>
            </div>
            <div class="btn-group parameterSelector">
                <label class="btn btn-primary parameterSelectorItemTraditional" ng-model="size" btn-radio="8">8</label>
                <label class="btn btn-primary parameterSelectorItemTraditional" ng-model="size" btn-radio="13">13</label>
                <label class="btn btn-primary parameterSelectorItemTraditional" ng-model="size" btn-radio="21">21</label>
                <label class="btn btn-primary parameterSelectorItemTraditional" ng-model="size" btn-radio="34">34</label>
            </div>
        </div>
    </div>
    <div>
        <p class="size-result">{{size}}</p>    
    </div>
</div>-->
<h1>IF YOU SEE THIS UNCOMMENT TRADITIONAL TEMPLATE</h1>
