<!DOCTYPE html>
<html ng-app="mainApp">

<!-- Bootstrap theme -->
<!-- <link rel="stylesheet" href="css/scss/vendor/bootstrap-theme.min.css"> -->
<link rel="stylesheet" href="css/scss/vendor/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/foundation/5.0.0/css/foundation.min.css"> -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<style>
    /* Needed for hiding crollbars when pushing */

</style>

<head>
    <title>Scrumplify</title>
</head>

<body ng-controller="appCtrl">
    <div class="navbar clearfix">
        <!-- <a class="open-menu-btn btn btn-default pull-left" href="" ng-click="toggle()">Menu</a> -->
        <ul class="navbar-list-icons clearfix pull-left">
            <li class="pull-left"><a href="" class="open-menu-btn navbar-link"><i class="fa fa-cog" ng-click="toggle()"></i></a></li>
            <li class="pull-left"><a href="" class="navbar-link"><i class="fa fa-info-circle"></i></a></li>
        </ul>
        <h6 class="pull-right online">&#9733;</h6>
    </div>
    <div>
        <div>
            <p class="size-result">{{model.size}}</p>
        </div>
        <div class="values-wrapper">
            <div class="">
                <div class="panel-heading selector-heading">
                    Risk
                </div>
                <div class="panel-body">
                    <div class="parameterSelector clearfix">
                        <div class="col-xs-4"><button class="btn btn-primary risk-selector col-xs-12" ng-model="model.risk" btn-radio="1">1</button></div>
                        <div class="col-xs-4"><button class="btn btn-primary risk-selector col-xs-12" ng-model="model.risk" btn-radio="2">2</button></div>
                        <div class="col-xs-4"><button class="btn btn-primary risk-selector col-xs-12" ng-model="model.risk" btn-radio="3">3</button></div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="panel-heading selector-heading">
                    Complexity
                </div>
                <div class="panel-body">
                    <div class="parameterSelector clearfix">
                        <div class="col-xs-4"><button class="btn btn-primary complexity-selector col-xs-12" ng-model="model.complexity" btn-radio="0">0</button></div>
                        <div class="col-xs-4"><button class="btn btn-primary complexity-selector col-xs-12" ng-model="model.complexity" btn-radio="1">1</button></div>
                        <div class="col-xs-4"><button class="btn btn-primary complexity-selector col-xs-12" ng-model="model.complexity" btn-radio="2">2</button></div>
                        <div class="col-xs-4"><button class="btn btn-primary complexity-selector col-xs-12" ng-model="model.complexity" btn-radio="3">3</button></div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="panel-heading selector-heading">
                    Effort
                </div>
                <div class="panel-body">
                    <div class="parameterSelector clearfix">
                        <div class="col-xs-4"><button class="btn btn-primary parameterSelectorItem col-xs-12" ng-model="model.effort" btn-radio="1">1</button></div>
                        <div class="col-xs-4"><button class="btn btn-primary parameterSelectorItem col-xs-12" ng-model="model.effort" btn-radio="2">2</button></div>
                        <div class="col-xs-4"><button class="btn btn-primary parameterSelectorItem col-xs-12" ng-model="model.effort" btn-radio="3">3</button></div>
                        <div class="col-xs-4"><button class="btn btn-primary parameterSelectorItem col-xs-12" ng-model="model.effort" btn-radio="5">5</button></div>
                        <div class="col-xs-4"><button class="btn btn-primary parameterSelectorItem col-xs-12" ng-model="model.effort" btn-radio="8">8</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

        <pageslide ps-open="checked" ps-side="left">
            <div style="padding:20px">
                <a class="open-menu-btn" href="" ng-click="toggle()">Menu</a>
                <h2>Hello User</h2>
                <p>Tell me whou you are</p>
                <div class="input-group">
                    <input ng-model="model.userName" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon2">
                    <input ng-model="model.room" type="text" class="form-control" placeholder="Room" aria-describedby="basic-addon2">
                    <input ng-model="model.password" type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                </div>
                <a ng-click="saveConnectionData()" class="tiny button">Save Data</a>
            </div>
        </pageslide>
    </div>
</body>

<!-- Phonegap for Adobe PhoneGap builder
    ================================================== -->
<script src="phonegap.js"></script>

<!-- Angular
    ================================================== -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>

<!-- JQuery
    ================================================== -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap
    ================================================== -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="libs/angular-pageslide-directive.min.js"></script>

<script src="js/controller.js"></script>
<script src="js/app.js"></script>

<!-- SocketIO
    ================================================== -->
<script src="bower_components/sio-client/socket.io.js"></script>

</html>
